{% load static %}
<!-- lista_de_produtos.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <!-- Conteúdo da página -->

    <div class="container">
        <!-- Aqui os produtos serão exibidos dinamicamente pelo JavaScript -->
    </div>

    <!-- Formulário de Modelo para Adicionar Novos Produtos -->
    <form id="produtoForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar Produto</button>
    </form>

    <!-- Scripts -->
    <script src="{% static 'produto/scripts/modal.js' %}"></script>
</body>
</html>
